@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  label {
    font-size: 14px;
    font-size: 13px;
  }
  .input {
    border: 1px solid $gray3;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 13px;
    background-color: transparent;
    transition: all 0.2 linear;
    transition: border, box-shadow, 0.2s linear;
    color: $lightPrimaryText;
    &.full {
      width: 100%;
    }

    &:focus,
    &:active {
      outline: none;
    }

    &:focus {
      box-shadow: rgba($color: $primaryColorMain, $alpha: 0.5) 0 0 0 0.2rem;
      border-color: $primaryColorMain;
    }

    &.dark {
      border-color: $gray7;
      color: $darkPrimaryText;
      &:focus {
        box-shadow: rgba($color: $primaryColorMain, $alpha: 0.8) 0 0 0 0.2rem;
      }
    }
    &.md {
      padding: 8px 14px;
      font-size: 15px;
    }
    &.sm {
      padding: 4px 8px;
      font-size: 13px;
    }
    &.lg {
      padding: 12px 20px;
    }
    // &.xl{
    //   padding: ;
    // }
    &.inputError {
      border-color: $errorColorMain;
    }
    svg {
      font-size: 18px;
    }
  }
}

.error {
  color: $errorColorMain;
  font-size: 13px;
}
