@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.content {
  composes: content from '../AddSimpleProduct/style.module.scss';
}

.footer {
  composes: footer from '../AddSimpleProduct/style.module.scss';
}

.images {
  composes: images from '../AddSimpleProduct/style.module.scss';
}
.uploadBlock {
  composes: uploadBlock from '../AddSimpleProduct/style.module.scss';
}

.error {
  composes: error from '../AddSimpleProduct/style.module.scss';
}

.upload {
  composes: upload from '../AddSimpleProduct/style.module.scss';
}
