.container {
  composes: container from '../ProductList/style.module.scss';
}

.dark {
  composes: dark from '../ProductList/style.module.scss';
}

.img {
  composes: img from '../ProductList/style.module.scss';
}
.cell {
  composes: cell from '../ProductList/style.module.scss';
}

.menu {
  composes: menu from '../ProductList/style.module.scss';
}

.menuItem {
  composes: menuItem from '../ProductList/style.module.scss';
}
