@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: right;
}
.auth {
  min-height: 100vh;
  background-color: $lightComponentBg;
  &.dark {
    background-color: $darkComponentBg;
    color: $darkPrimaryText;
    .background {
      background-color: $darkContainerBg;
    }
  }
  @include md {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: 10px;
    .background {
      display: block;
      background-size: 60% 60%;
    }
  }
  @include lg {
    grid-template-columns: 7fr 3fr;
    .background {
      background-size: 80% 80%;
    }
  }
}

.background {
  display: none;
  background-image: url('https://demos.themeselection.com/marketplace/materio-mui-react-nextjs-admin-template/demo-1/images/pages/auth-v2-login-illustration-light.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: $lightContainerBg;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.box {
  width: 90%;
  .title {
    margin-bottom: 10px;
  }
}
.form {
  margin-top: 35px;
}
.control {
  margin-bottom: 15px;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  margin-bottom: 15px;
}
