@import '../../assets/styles/variables.scss';
.block {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  &.child {
    margin-bottom: 10px;
    padding-left: 40px;
  }
  color: $gray6;
  .mainLink {
    &:hover {
      background-color: $gray2;
    }
  }
  &.dark {
    color: $gray3;
    .mainLink {
      &:hover {
        background-color: $gray7 !important;
      }
    }
  }
}

.baseBtn {
  width: 90%;
  margin: auto;
  font-family: $fontFamily;
}
.mainLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;

  &.active {
    background-color: rgba($color: $primaryColorMain, $alpha: 0.16);
    color: $primaryColorMain;
    font-weight: bold;
  }
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  span {
    text-transform: capitalize;
    font-size: 15px;
  }
  svg {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
  }
}
