@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';
.container {
  background-color: $lightComponentBg;
  border-radius: 0 0 5px 5px;

  &.dark {
    background-color: $darkComponentBg;
  }
  .img {
    width: 60px;
    border-radius: 5px;
  }
  .cell {
    font-size: 12px;
  }
  .cellHead {
    font-size: 12px;
  }
  @include xl {
    .cell {
      font-size: 14px;
    }
    .cellHead {
      font-size: 14px;
    }
  }
}

.menu {
  width: 120px !important;
  padding: 5px 10px;
}

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 8px;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: $gray2;
  }
  svg {
    font-size: 19px;
    margin-right: 5px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.menu {
  &.dark {
    .menuItem {
      &:hover {
        background-color: $gray7;
      }
    }
  }
}
