.btn {
  box-shadow: none !important;
  text-transform: capitalize !important;
  &:hover {
    box-shadow: none;
  }
  &.xs {
    font-size: 10px;
    padding: 3px 7px;
  }
  &.small {
    font-size: 12px;
    padding: 6px 15px;
  }
  .medium {
    font-size: 13px;
    padding: 7px 18px;
  }
  &.large {
    font-size: 15px;
    padding: 8px 22px;
  }
}
