@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';

.container {
  display: grid;
  grid-gap: 10px;
  p {
    font-size: 13px;
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    p {
      font-size: 15px;
    }
  }
}

.block {
  @include lg {
    &:first-of-type {
      grid-column: span 1;
    }
    &:nth-child(2) {
      grid-column: span 3;
    }
    &:nth-child(5),
    &:nth-child(4) {
      grid-column: span 1;
    }
    grid-column: span 2;
  }
  h3 {
    margin-bottom: 15px;
  }
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
