.content {
  composes: content from '../AddCategory/style.module.scss';
}

.header {
  composes: header from '../AddCategory/style.module.scss';
}

.input {
  composes: input from '../AddCategory/style.module.scss';
}

.footer {
  composes: footer from '../AddCategory/style.module.scss';
}

.dark {
  composes: dark from '../AddCategory/style.module.scss';
}
