@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: $lightContainerBg;
  box-shadow: $lightShadow;
  padding: 25px;
  border-radius: 2px;
  &.dark {
    background-color: $darkContainerBg;
    box-shadow: $darkShadow;
    color: $darkPrimaryText;
  }
  @include md {
    width: 400px;
  }
  @include lg {
    width: 500px;
  }
}

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  button {
    &:last-child {
      margin-left: 10px;
    }
  }
}
