@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.content {
  width: 100%;
  &.dark {
    .block {
      border-bottom-color: $gray7;
    }
  }
}

.block {
  margin-bottom: 30px;
  h3 {
    margin-bottom: 20px;
  }
  border-bottom: 1px solid $gray3;
  padding-bottom: 30px;
}

.images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  @include md {
    grid-template-columns: 1fr 1fr;
  }
  @include lg {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  @include xl {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.uploadBlock {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.error {
  color: $errorColorMain;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $gray2;
  border: 1px solid $gray3;
  padding: 10px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
  &.dark {
    background-color: $gray7;
    border-color: $gray6;
  }
  p {
    margin-bottom: 5px;
    font-size: 14px;
  }
}
