@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';
.component {
  background-color: $lightComponentBg;
  box-shadow: $lightShadow;
  padding: 20px;
  border-radius: 5px;
  &.dark {
    background-color: $darkComponentBg;
    box-shadow: $darkShadow;
  }
}
.statistics {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
  @include md {
    grid-template-columns: 1fr 1fr;
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
  @include lg {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  p {
    margin-bottom: 5px;
  }
}

.icon {
  color: white;
  background-color: $primaryColorMain;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  svg {
    font-size: 13px;
  }
}
