@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.content {
  composes: content from '../AddCategory/style.module.scss';
  width: 95%;
  max-width: 1200px;
  @include md {
    width: 80%;
  }
  @include lg {
    width: 85%;
  }
  @include xl {
    width: 80%;
  }
}

.header {
  composes: header from '../AddCategory/style.module.scss';
}

.input {
  composes: input from '../AddCategory/style.module.scss';
}

.footer {
  composes: footer from '../AddCategory/style.module.scss';
}

.dark {
  composes: dark from '../AddCategory/style.module.scss';
}

.body {
  padding-top: 10px;
  overflow-y: scroll;
}

.images {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    @include lg {
      width: 150px;
      height: 150px;
    }
  }
}

.error {
  color: $errorColorMain;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: $gray2;
  width: 250px;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  p {
    margin: 0;
  }
  &.dark {
    background-color: lighten($color: $gray8, $amount: 3%);
  }
}
