@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.content {
  composes: content from '../AddSimpleProduct/style.module.scss';
}

.block {
  composes: block from '../AddSimpleProduct/style.module.scss';
}

.images {
  composes: images from '../AddSimpleProduct/style.module.scss';
}
.dark {
  composes: dark from '../AddSimpleProduct/style.module.scss';
}
.uploadBlock {
  composes: uploadBlock from '../AddSimpleProduct/style.module.scss';
}

.error {
  composes: error from '../AddSimpleProduct/style.module.scss';
}

.upload {
  composes: upload from '../AddSimpleProduct/style.module.scss';
}

.attr {
  width: 90%;
  @include md {
    width: 80%;
  }
  @include lg {
    width: 70%;
  }
  margin: auto;
}

.attrBlock {
  margin-bottom: 20px;
  border-bottom: 1px solid $gray3;
  padding-bottom: 20px;
  &.dark {
    border-color: $gray7;
  }
  &:last-of-type {
    border: none;
    padding-bottom: 0;
  }
}

.blockItem {
  @include lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  > div {
    margin-bottom: 10px;
  }
}

.noti {
  font-size: 13px;
  margin: 3px 0;
}

.values {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  .val {
    padding: 5px;
    background-color: $gray3;
    font-size: 13px;
    border-radius: 5px;
    &.dark {
      background-color: $gray7;
    }
  }
}
