@import '../../assets/styles/variables.scss';
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $lightComponentBg;
  border-bottom: 1px solid $gray3;
  &.dark {
    background-color: $darkComponentBg;
    border-bottom: 1px solid $gray7;
  }
  &.recoil {
    padding-left: 290px;
  }
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding-right: 10px;
}

.menu {
  cursor: pointer;
}
