@import '../../assets/styles/variables.scss';
.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 10px solid $gray5;
  border-left-color: $primaryColorMain;
  border-top-color: $primaryColorMain;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
