@import '../../assets/styles/variables.scss';
.title {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.subs {
  display: flex;
  flex-wrap: wrap;
  .sub {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: $gray2;
    padding: 5px 10px;
    font-size: 14px;
    // border: 1px solid $gray3;
    border-radius: 3px;
  }
  .iconBtn {
    height: 25px;
    width: 25px;
    svg {
      font-size: 17px;
    }
  }
}

.dark {
  .sub {
    background-color: $gray7;
  }
}
