@import '../../assets/styles/variables.scss';

.sidebar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  overflow-y: scroll;
  padding-top: 20px;
  border-right: 1px solid rgba($color: $gray3, $alpha: 0.6);
  background-color: $lightComponentBg;
  &.dark {
    border-color: $gray7;
    background-color: $darkComponentBg;
  }
}
.container {
  width: 280px;
}
.block {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}
.title {
  color: $primaryColorMain;
  padding: 10px;
  svg {
    font-size: 30px;
  }
}
