@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';

.dashboard {
  min-height: 100vh;
  padding: 40px 20px;
  background-color: $lightContainerBg;
  color: $lightPrimaryText;
  &.dark {
    background-color: $darkContainerBg;
    color: $darkPrimaryText;
  }
  @include md {
    &.recoil {
      padding-left: 320px;
    }
  }
  padding-top: 50px;
  transition: background-color ease-in-out 0.1s;
}
