.container {
  //   width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    .iconContainer {
      opacity: 1;
      display: block;
    }
  }
}

.main {
  //   flex-grow: 1;
  margin-right: 2px;
}

.icon {
  svg {
    font-size: 15px;
  }
}

.iconContainer {
  //   opacity: 0;
  //   display: none;
}
