@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.content {
  composes: content from '../AddCategory/style.module.scss';
  text-align: center;
}

.header {
  composes: header from '../AddCategory/style.module.scss';
  margin-bottom: 10px;
}

.body {
  h3 {
    margin-bottom: 10px;
  }
}

.footer {
  composes: footer from '../AddCategory/style.module.scss';
  justify-content: center;
}

.dark {
  composes: dark from '../AddCategory/style.module.scss';
}
