@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  background-color: $lightComponentBg;
  padding: 20px 10px;
  border-bottom: 1px solid $gray3;
  border-radius: 5px 5px 0 0;

  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  display: flex;
  align-items: flex-end;
  @include md {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  &.dark {
    background-color: $darkComponentBg;
    border-color: $gray7;
  }
  button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.left {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  flex-grow: 1;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.item {
  width: 22%;
}
