@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';
.container {
  background-color: $lightComponentBg;
  border-radius: 0 0 5px 5px;
  box-shadow: $lightShadow;
  padding: 20px;

  .navs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray3;
    padding-bottom: 20px;
    .nav {
      margin-right: 10px;
      position: relative;
      border-radius: 5px;
      padding: 10px 25px;
      transition: background-color 0.2s linear;

      cursor: pointer;
      &:last-of-type {
        margin-right: 0;
      }
      &::after {
        content: '';
        position: absolute;
        width: 0;
        max-width: 100%;
        height: 2px;
        background-color: $primaryColorMain;
        top: -20px;
        left: 0;
      }
      &.active {
        background-color: $primaryColorMain;
        color: white;
        &::after {
          //   width: 100%;
        }
      }
    }
  }

  &.dark {
    background-color: $darkComponentBg;
    box-shadow: $darkShadow;
    .navs {
      border-color: $gray7;
    }
    .val {
      background-color: $gray7;
    }
    .variant {
      border-color: $gray7;
    }
  }
}

.block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin-bottom: 10px;
  @include lg {
    grid-template-columns: 1fr 1fr;
  }
}

.centerDiv {
  @include md {
    width: 70%;
    margin: auto;
  }
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 20px;
}
img {
  width: 100%;
  max-height: 250px;
  border-radius: 5px;
}

.val {
  background-color: $gray2;
  padding: 5px 10px;
  border-radius: 5px;
}

.values {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}
.key {
  text-transform: capitalize;
}
.varImages {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  img {
    width: 50px;
  }
}
