@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  box-shadow: $lightShadow;

  &.dark {
    box-shadow: $darkShadow;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
