@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';
.container {
  &.dark {
    .variant {
      border-color: $gray7;
    }
    .noBlock {
      border-color: $gray7;
    }
  }
}
.varHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.imgBlock {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  img {
    width: 200px;
  }
}

.variant {
  margin-bottom: 20px;
  border-bottom: 1px solid $gray3;
  padding-bottom: 20px;
}

.key {
  text-transform: capitalize;
}

.imagesContainer {
  margin-bottom: 20px;
}

.no {
  width: 200px;
}

.noBlock {
  width: 100%;
  height: 200px;
  border: 1px solid $gray3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: $errorColorMain;
  display: block;
}
