.title {
  composes: title from '../CategoryItem/style.module.scss';
}

.dark {
  composes: dark from '../CategoryItem/style.module.scss';

  //   .sub {
  //     background-color: $gray7;
  //   }
}
