$breakpoint: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px
);

@mixin sm {
  @media (min-width: map-get($breakpoint, 'sm')) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoint, 'md')) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoint, 'lg')) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoint, 'xl')) {
    @content;
  }
}
