@import './variables.scss';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.componentBg {
  background-color: $lightComponentBg;
  box-shadow: $lightShadow;
  padding: 20px;
  border-radius: 5px;
}

.componentBgDark {
  background-color: $darkComponentBg;
  box-shadow: $darkComponentBg;
  padding: 20px;
  border-radius: 5px;
}
