@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$fontFamily: 'Montserrat', sans-serif;

// light theme
$lightShadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
$lightContainerBg: #f4f4f4;
$lightComponentBg: white;
$lightPrimaryText: rgb(33, 43, 54);

// dark theme
$darkShadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px, rgba(0, 0, 0, 0.12) 0px 12px 24px -4px;
$darkContainerBg: rgb(22, 28, 36);
$darkComponentBg: rgb(33, 43, 54);
$darkPrimaryText: white;

// neutral
$gray1: #f9fafb;
$gray2: #f4f6f8;
$gray3: #dfe3e8;
$gray4: #c4cdd5;
$gray5: #919eab;
$gray6: #637381;
$gray7: #454f5b;
$gray8: #212b36;
$gray9: #161c24;

$primaryColorMain: #3366ff;
$primaryColorLight: #6690ff;
$primaryColorDark: #254edb;

$errorColorMain: #d32f2f;
