.container {
  composes: container from '../Products/style.module.scss';
}

.flex {
  composes: flex from '../Products/style.module.scss';
}

.dark {
  composes: dark from '../Products/style.module.scss';
}
