@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  width: 100%;
  background-color: $lightComponentBg;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $lightShadow;
  &.dark {
    background-color: $darkComponentBg;
    box-shadow: $darkShadow;
  }
  @include md {
    padding: 20px;
  }
  @include lg {
    padding: 30px;
  }
}
